.container{
display: flex;
flex-direction: column;
margin-left: 20px;
align-items: left;

}

.content{
    background-color: #e4decc34;
    border-radius: 10px;
    width: 20rem;
    height: auto;
    padding-left: 20px;
    padding-top: 10px;
   
}
.text{
    text-align:justify;
}
.button{
    margin-top: 20px;
    width:10rem;
    cursor: pointer;
    background-color: rgb(181, 9, 9);
    opacity: 0.6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-left: 5rem;
    border: 3px gray solid;
    font-size: large;
    
}