.container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: left;


}

.content{
    background-color: #e4decc34;
    border-radius: 10px;
    width: 20rem;
    height: auto;
    padding: 20px;
    padding-top: 10px;
   
}
.text{
    text-align:justify;
}
.cancel-button{
    margin-top: 20px;
    width:20rem;
    cursor: pointer;
    background-color:  rgb(181, 9, 9);
    opacity: 0.6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    border: 2px gray solid;
    font-size: large;
    
}
.cancel-button:hover {background-color:rgb(237,0,0)}

.cancel-button:active {
  background-color:rgb(237, 0, 0);
  box-shadow: 0 5px #f8be0e;
  transform: translateY(4px);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 5px;
}

.dropdown-btn {
    width: 158px;
    padding: 8px;
    border: 1px #363636 solid;
    border-radius: 4px;
    background-color: #5f5f5f;
}

.dropdown-btn-s {
    width: 150px;
    padding: 8px;
    border: 1px goldenrod solid;
    border-radius: 4px;  
    color: goldenrod;
    background-color: #e4decc34;
}

.dropdown-btn-n {
    width: 150px;
    padding: 8px;
    border: 1px rgb(181, 9, 9) solid;
    border-radius: 4px;  
    color: rgb(181, 9, 9);
    background-color: #e4decc34; 
}

.dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: #5f5f5f;
    min-width: 160px;
    z-index: 1;
     
}

.s-button:hover {
    background-color: green;
}
.s-button {
    border-radius: 4px;
    border: 1px #363636 solid;
    background-color: #f0da32;
    
}

.u-button {
    border-radius: 4px;
    border: 1px #363636 solid;
    background-color: #f0da32;
}

.u-button:hover {
    background-color: red;
}

/* .dropdown-content button:hover {
    background-color: #4d4d4d;

} */

.dropdown:hover .dropdown-content {
    display: flex;
    cursor: pointer;
}

.dropdown:hover .dropdown-btn {
    background-color: #f0da32;
    cursor: default;
}
.editButton{
    background-color: #CBB26A !important;
    border:#CBB26A inset 5px !important;
    color: rgba(0, 0, 0, 0.953) !important;
    margin-top: 5px !important;
    
}
.ditButton:hover {background-color:#f8be0e !important}

.ditButton:active {
  background-color:#CBB26A !important;
  box-shadow: 0 5px #f8be0e !important;
  transform: translateY(4px) !important;
}