.container{
display: flex;
flex-direction: column;
margin-left: 20px;
align-items: left;

}

.content{
    background-color: #e4decc34;
    border-radius: 10px;
    width: 20rem;
    height: auto;
    padding-left: 20px;
    padding-top: 10px;
   
}
.text{
    text-align:justify;
}
.button{
    margin-top: 20px;
    width:20rem;
    cursor: pointer;
    background-color:  rgb(181, 9, 9);
    opacity: 0.6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    border: 2px gray solid;
    font-size: large;
    
}
.button:hover {background-color:rgb(237,0,0)}

.button:active {
  background-color:rgb(237, 0, 0);
  box-shadow: 0 5px #f8be0e;
  transform: translateY(4px);
}