.confirmorder {
  text-align: left;
  align-items: center;
  color: #cbb26a;
  margin-left: 150px;
  margin-top: 200px;
}

.input {
  background-color: #958f8fce;
  opacity: 0.6;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 10px;
}
input::placeholder {
  color: #cbb26a;
  opacity: 1;
}
.reserveButton {
  background-color: #CBB26A;
    border:#CBB26A inset 5px ;
    color: rgba(0, 0, 0, 0.953);
    
}
.reserveButton:hover {background-color:#f8be0e}

.reserveButton:active {
  background-color:#CBB26A;
  box-shadow: 0 5px #f8be0e;
  transform: translateY(4px);
}

.time {
  margin: 4px;
  max-width: 10rem;
  min-height: 10px;
  background-color: #303132;
  color: #cbb26a;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  font-size: medium;
  align-items: center;
}
.pakage_info {
  display: flex;

  height: 350px;
  width: 550px;
  justify-content: center;
  align-items: center;
  margin-left:500px;
  margin-top: -190px;
  padding-left: 15px;
  font-size: large;
  font-weight: 400;
  background-color: #434446;
  color: #cbb26a;
}
.about {
  margin-top: 360px !important;
  margin-left: 700px;
}
.contact {
  width: 800px  !important;
  margin-left: 600px !important;
  
  margin-top: 360px !important;
  padding-left: 240px !important;
  
 
  }
.list{
  list-style-type: none;
}
.address{
  margin-left: -315px;
}
.callus{
  margin-left: 5px;
}
.react-time-picker__inputGroup__input:invalid {
  background: #ff00005e;
}
.invalid {
  color: #ff0000;
}

